@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@


<section class="slice base inset-shadow-1">
    <div class="wp-section">
        <div class="section-title-wr">
            <h3 class="section-title center">
                <span class="c-white">Sobre Nosotros</span>
                <small class="c-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</small>
            </h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="text-center">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MAIN CONTENT -->
<section id="1" class="slice bb">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 wp-block no-space arrow-right base no-margin">
                    <div class="wp-block-body">
                        <div class="img-icon">
                            <i class="fa fa-book"></i>
                        </div>
                        <h1>Mision</h1>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet, consectetur curabitur pellentesque neque eget diam posuere adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus
                        </p>
                    </div>
                </div>
                <div class="col-md-4 wp-block no-space arrow-right light no-margin">
                    <div class="wp-block-body">
                        <div class="img-icon">
                            <i class="fa fa-bicycle"></i>
                        </div>
                        <h1>Vision</h1>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet, consectetur urabitur pellentesque neque eget diam posuere adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 wp-block no-space dark no-margin">
                    <div class="wp-block-body">
                        <div class="img-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <h1>Valores</h1>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet, consectetur urabitur pellentesque neque eget diam posuere adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>