@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>


</address>*@

<section class="prlx-bg inset-shadow-1" data-stellar-ratio="2" style="min-height: 500px; height: auto; padding: 30px 0; background-image: url(../Images/full-bg-20.jpg)">
    <!-- Section mask -->
    <div class="mask mask-1"></div>
    <div class="container">
        <div class="section-title-wr">
            <h3 class="section-title center">
                <span class="c-white">Contact our agency</span>
                <small class="c-white">Lorem ipsum dolor sit amet</small>
            </h3>
        </div>

        <!-- Contact form -->
        <form class="form-dark">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-lg">
                        <label class="sr-only">First name</label>
                        <input type="text" class="form-control input-lg" placeholder="First name" hidefocus="true">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-lg">
                        <label class="sr-only">Last name</label>
                        <input type="text" class="form-control input-lg" placeholder="Last name" hidefocus="true">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-lg">
                        <label class="sr-only">E-mail</label>
                        <input type="email" class="form-control input-lg" placeholder="E-mail" hidefocus="true">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="sr-only">Message</label>
                        <textarea class="form-control" placeholder="Message ..." rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="#" class="btn btn-lg btn-dark" title="">
                        <span>Send message</span>
                    </a>
                </div>
            </div>
        </form>

        <!-- Social Media Icons -->
        <div class="social-media social-media-lg text-center mt-40">
            <a href="#"><i class="fa fa-facebook facebook"></i></a>
            <a href="#"><i class="fa fa-google-plus google"></i></a>
            <a href="#"><i class="fa fa-twitter twitter"></i></a>
        </div>
    </div>
</section>