@{
    ViewBag.Title = "Home Page";
}

<section id="slider-wrapper" class="layer-slider-wrapper layer-slider-dynamic">
    <div id="layerslider" style="width:100%;">
        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
            <!-- slide background -->
            <img src="~/Images/full-bg-17.jpg" class="ls-bg" style="width: 100%;" alt="Slide background" />

            <!-- Left Text -->
            <h3 class="ls-l title text-wrapped alpha strong text-uppercase text-center" style="top:35%; left:100px; padding: 30px;" data-ls="offsetxin:-250;offsetyin:0;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                Veritas 
            </h3>

            <p class="ls-l text-standard text-wrapped base" style="width:500px; top:58%; left:100px; padding: 30px;" data-ls="offsetxin:-250;offsetyin:-;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                We took a step more further and tried to make this template the best solution for the educational field. This is just the beginning. Plenty of new features will be available very soon.
            </p>
            <a href="http://veritas-test.com/" class="btn btn-base btn-lg ls-l" style="top:80%; left:850px;" data-ls="offsetxin:0;offsetyin:250;durationin:1500;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;" target="_blank">
                <span>Visitanos en nuestra Web</span>
                @*@Html.ActionLink("","","")*@
            </a>
        </div>

        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
            <!-- slide background -->
            <img src="~/Images/full-bg-18.jpg" class="ls-bg" style="width: 100%;" alt="Slide background" />

            <!-- Left Text -->
            <h3 class="ls-l title text-wrapped alpha strong text-uppercase text-center" style="top:35%; left:100px; padding: 30px;" data-ls="offsetxin:-250;offsetyin:0;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                Back to school
            </h3>

            <p class="ls-l text-standard text-wrapped base" style="width:500px; top:58%; left:100px; padding: 30px;" data-ls="offsetxin:-250;offsetyin:-;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                We took a step more further and tried to make this template the best solution for the educational field. This is just the beginning. Plenty of new features will be available very soon.
            </p>
        </div>
    </div>
</section>

